/*
Title:My P2 Project
Description: Harvard Extension Class: Dynamic Website Application, Project 2
URI: http://p2.yourtripplan.com/
Author: Linghong Chen
*/
/*------------------------------------------------------------------------------------------------------------------------
Main CSS Codes
---------------------------------------------------------------------------------------------------------------------------
*/
body{
  color:black;
  font-size:15px;
  font-family:"Truebuchet MS", "Helvetica", Serif;
  text-align:center;
   background-color:#FFE1E1;
  }

article{
  text-align:justify;
  }

h1{
  font-weight:bold;
 	font-size:22px;
  }

h2{
  font-weight:bold;
  font-size:17px;
  }

h3{
  text-align:center;
  font-weight:bold;
  font-size:15px;
  }

p{
  font-size:13px;
  height: auto;
  padding:10px;
  text-align:left;
 }
 
ul{
 text-align:left;
 }

nav{
 background-color:#eeee9f; 
 }

nav li{
 display:inline;
  }

span{
  font-weight:bold;
  }
 

/*------------------------------------------------------------------------------------------------------------------------
Front page
---------------------------------------------------------------------------------------------------------------------------
*/
header{
  height:60px;
  margin-bottom:20px;
  text-align:left;
  font-size:40px;
  color:#844242;
  padding-top:20px;
  padding-left:15%;
  background-color: #FFE1E1; 
  font-family:"Algerian", "Helvetica", Serif;
  }

.container{
  color:black;
  font-size:15px;
  font-family:"Truebuchet MS", "Helvetica", Serif;
  height:auto;
  text-align:center;
  background-color: #FFE1E1;
  }

div.background {
background:url(../uploads/seashore.jpg) no-repeat;
padding-bottom:50px;
 }

.title{
  font-size:20px;
  margin-bottom:10px;
}

.largetitle{
  font-size:26px;
}

footer{
  height:60px;
  padding:20px;
} 
#top{
  margin-top:40px;
  padding-top:20px;
  text-align:center;
  height:auto;
  background-color: #844242;
  border: 2px solid #844242;
  opacity: 0.8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
  }

#bottom{
  margin-top:40px;
  padding-top:20px;
  height:auto;
  background-color: #844242;
  border: 2px solid #844242;
  opacity: 0.8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
  }


/*------------------------------------------------------------------------------------------------------------------------
CSS Codes for Posts and Users
---------------------------------------------------------------------------------------------------------------------------
*/

.midright{
  margin-left:60%;
  width:120px;
  height:40px;
  border-radius:8px;
  background-color:#FF6600;
  }

.post{
  position:relative;
  width:80%;
  height:auto;
  background-color: #FFFFFF;  
  border: 2px solid  #FFCCFF;
  margin:15px;
  padding:15px;
  }

.addpost{
  position:relative;
  width:80%;
  height:200px;
  background-color: #FFFFFF;  
  border: 2px solid #FFCCFF;
  margin:20px;
  }

.box{
  background-color: #FFCAB0;
  border:3px solid #FF9F40; 
  height:auto;
  padding:5%;
  margin-left:5%;
  margin-right:5%;
  margin-bottom:30px;
  text-align:center;
  }


.avatarbox{
  width:20%;
  height:auto;
  padding:2%;
  margin:5%;
  text-align:center;
  }

.profile{
    min-width:200px;
    width:50%;
    background-color: #FFCAB0;
    border:3px solid #FF9F40; 
    height:auto;
	  margin-top: 20px;
    padding-left:5%;
    padding-top:10px;
    padding-bottom:15px;
    text-align:left;
    }

.frontbox{
  background-color: #ffffff;
  padding:2%;
  margin-top:7em;
  text-align:center;
  color:black;
  opacity: 0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  }

.frontbox p{
  font-size:18px;
  text-align: justify;
}

 .frontbox:hover{
  padding:5%;
  margin-top:70px;
  text-align:center;
  color:black;
  background-color: #ffffff;
  opacity: 1;
  filter:alpha(opacity=100); /* For IE8 and earlier */
  }

 
 .frontbox p :hover {
     font-weight: bold;
     color: white;
 }


.user{
  background-color: #FF3300;  
  border:3px solid #FF6600;
  color:white;
  height:auto;
  padding:15px;
  margin:20px;
  text-align:left;
  }